* {box-sizing: border-box}
body {font-family: "Lato", sans-serif; margin: 0; display: flex; border: 0; background-color: #edf1f2;}

/* Style the tab */
.tab {
  float: left;
  background-color: #1e262c;
  width: 280px;
  height: 100vh;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #e1e2e4;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  height: 64px; 
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2e363d;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #4c5259;
}
.tab button.active:before {
  content: '';
  position: absolute;
  border-color: #f56c2d;
  border-style: solid;
  border-width: 0 0.3em 64px 0;
  margin-bottom: 10px;
  transform: translate(-16px,-22px);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(245,108,45,1);
  -moz-box-shadow: 0px 0px 10px 0px rgba(245,108,45,1);
  box-shadow: 0px 0px 10px 0px rgba(245,108,45,1);
}

/* Style the tab content */
.tabcontent {
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
  height: 100vh;
}

/* Style container of origin logo*/
.container_originlogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style origin logo*/
.originlogo {
  height: 50px;
}
  
.grid {
  display: -moz-grid;
  display: -ms-grid;
  width: calc(100vw-250px);
  display: grid;
  grid-template-columns: repeat(auto-fill, 266px);
  grid-gap: 25px;  
}
  
.card:hover {
  transform: scale(1.05, 1.05);
}

.card {
  border-radius: 20px;
  width: 266px;
  height: 183px;
  -webkit-box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 54px 0px rgba(0,0,0,0.15);
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgb(20, 27, 32);
  background-image:none;
  background-origin:padding-box;
  background-size:auto;
  color:rgb(85, 26, 139);
  cursor:pointer;
  display:block;
  font-family:"Open Sans", sans-serif;
  height:183.984px;
  list-style-type:none;
  overflow-x:hidden;
  overflow-y:hidden;
  position:relative;
  text-align:left;
  text-decoration-color:rgb(0, 0, 238);
  text-decoration-line:underline;
  text-decoration-style:solid;
  text-rendering:optimizelegibility;
  transition-delay:0s;
  transition-duration:0.15s;
  transition-property:all;
  transition-timing-function:ease-out;
  width:266.699px;
}
  
.card:after {
  backface-visibility:hidden;
  background-attachment:scroll;
  background-clip:border-box;
  background-color:rgba(0, 0, 0, 0);
  background-image:linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(20, 27, 32, 0.5) 60%, rgba(20, 27, 32, 0.8));
  background-origin:padding-box;
  background-size:auto;
  bottom:0px;
  content:"";
  display:block;
  height:183.984px;
  left:0px;
  position:absolute;
  right:0px;
  top:0px;
  width:266.699px;  
}
  
.card_img {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment:scroll;
  bottom:-91.9922px;
  color:rgb(85, 26, 139);
  cursor:pointer;
  display:block;
  font-family:"Open Sans", sans-serif;
  height:183.984px;
  left:133.34px;
  list-style-type:none;
  position:absolute;
  right:-602.578px;
  text-align:left;
  text-rendering:optimizelegibility;
  top:91.9922px;
  transform:matrix(1, 0, 0, 1, -367.5, -91.875);
  width:735.938px;
}
  
.card_details {
  backface-visibility:hidden;
  bottom:0px;
  box-sizing:border-box;
  color:rgb(255, 0, 0);
  cursor:pointer;
  display:block;
  font-family:"Open Sans", sans-serif;
  left:0px;
  list-style-type:none;
  padding-bottom:12px;
  padding-left:12px;
  padding-right:12px;
  padding-top:12px;
  position:absolute;
  text-align:left;
  text-rendering:optimizelegibility;
  transform:matrix(1, 0, 0, 1, 0, 0);
  width:266.699px;
  z-index:1;
}
  
.card_details h1 {
  color:rgb(255, 255, 255);
  cursor:pointer;
  display:-webkit-box;
  font-family:"Open Sans", sans-serif;
  font-size:18px;
  font-weight:400;
  height:45.5px;
  line-height:24px;
  list-style-type:none;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  max-height:72px;
  overflow-x:hidden;
  overflow-y:hidden;
  text-align:left;
  text-rendering:optimizelegibility;
  width:242.715px;
}

.header_wrapper {
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://data2.origin.com/content/dam/originx/web/app/programs/About/aboutorigin_3840x2160_SWB.jpg") no-repeat;
  background-size: cover;
  z-index: 1;
}

.header_wrapper :after {
  background-image:linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(20, 27, 32, 0.2) 60%, rgba(20, 27, 32, 0.4));
  content:"";
  position:absolute;
  left:0px;
  bottom:0px;
  right:0px;
  top:0px;
  z-index: 1;
}

.header_wrapper h1 {
  padding-left: 45px;
  padding-right: 45px;
  color: #fff;
  text-shadow: 0 0 12px rgba(30,38,44,.4);
  width: 100%;
  max-width: 900px;
  font-size: 48px;
  line-height: 60px;
  z-index: 2;
}

.header_wrapper a span {
  position: absolute;
  bottom: 40px;
  right: 40px;
  border-radius: 4px;
  padding: 12px;
  background: #22313c;
  color: #c3c6ce;
  cursor: pointer;
  z-index: 2;
}
.header_wrapper a span:hover {
  color: white;
}